name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    name: Unit Tests (Elixir ${{ matrix.elixir }} / OTP ${{ matrix.otp }})
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    env:
      MIX_ENV: test

    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: "1.18"
            otp: "27.2"
          - elixir: "1.16"
            otp: "26.2"
          - elixir: "1.14"
            otp: "25.3"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Elixir & Erlang
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-

      - name: Install dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
          mix deps.compile

      - name: Compile
        run: mix compile

      - name: Run Unit Tests
        run: mix test.unit

  coverage:
    name: Test Coverage
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    env:
      MIX_ENV: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Elixir & Erlang
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.18"
          otp-version: "27.2"

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-27.2-1.18-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-27.2-1.18-

      - name: Install dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
          mix deps.compile

      - name: Run Coverage
        run: mix coveralls --exclude auth --exclude consume --exclude consumer_group --exclude chaos --exclude lifecycle --exclude produce
